.image {
  /* border: 2px solid hotpink; */
  width: 6em;
  height: auto;
}
.image-glavaenergy {
  width: 8em;
  height: auto;
}
.teknik-loggo {
  font-size: 23px;
  border: 2px solid rgb(179, 177, 177);
}
.teknikvast,
.sCbruma,
.swemodule,
.energimyndigheten,
.image-text {
  width: 10em;
  height: auto;
  /* border: 2px solid rgb(105, 170, 255); */
}

@media screen and (max-width: 1000px) {
  .image {
    /* border: 2px solid rgb(120, 255, 105); */
    width: 5em;
    height: auto;
  }
  .image-text {
    width: 7em;
    height: auto;
    /* border: 2px solid rgb(105, 170, 255); */
  }

  .image-glavaenergy {
    width: 6em;
    height: auto;
    /* border: 2px solid rgb(6, 36, 75); */
  }
  
  .energimyndigheten {
    width: 8em;
    height: 3em;
    /* border: 2px solid rgb(23, 75, 6); */
  }

  .teknikvast {
    width: 6em;
    height: 2em;
    /* border: 2px solid rgb(181, 135, 211); */
  }
  
  .swemodule,
  .sCbruma {
    /* border: 2px solid rgb(75, 15, 6); */
    width: 7em;
    height: 5em;
  }
}

@media screen and (max-width: 600px) {
  .image {
    width: 6em;
    height: auto;
  }
  .image-glavaenergy {
    width: 8em;
    height: auto;
  }
  .teknik-loggo {
    font-size: 23px;
  }
  .image-text {
    width: 10em;
    height: 3em;
  }

 
  .energimyndigheten {
    width: 10em;
    height: 3em;
  }

  .teknikvast {
    width: 8em;
    height: 2em;
  }
  .swemodule,
  .sCbruma {
    width: 12em;
    height: 7em;
  }
}
