/* Main */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura.ttf");
}

html,
body,
#root {
  min-height: 100dvh;
  max-height: 100%;
  width: 100%;
  font-family: "Jura", sans-serif;
}

html,
body {
  background-image: url("../images/main/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* footer */

.mui-s80m6r-MuiContainer-root {
  max-width: none !important;
}
#footer {
  font-family: "Jura", sans-serif;
}
